@model GetModel

@{
    var base64 = Convert.ToBase64String(Model.Image);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    TempData["GetId"] = Model.Id;
}

<img src="@imgSrc" width="300" height="400" />

@foreach (var category in Model.StandartValues)
{
    <h3>@category.Key</h3>
    foreach (var value in category.Value)
    {
        <pre style="font-size:15px">   @value.Key  :  @value.Value</pre>
    }
}

@foreach (var category in Model.Values)
{
    <h3>@category.Key</h3>
    foreach (var value in category.Value)
    {
        <pre style="font-size:15px">   @value.Key  :  @value.Value</pre>
    }
}
<h3>Комментарии</h3>
@foreach (var comment in Model.Comments)
{
    <pre style="font-size:15px">@comment.Item2 (+@comment.Item1.Rating)<pre style="font-size:13px">>@comment.Item1.Text
    @if (TempData.Peek("role") != null && Model.Context.CanLike((int)TempData.Peek("id"), comment.Item1.Id)) {<a asp-controller="Product" asp-action="Like/@comment.Item1.Id">Like</a>}
    @if (TempData.Peek("role") != null && !Model.Context.CanLike((int)TempData.Peek("id"), comment.Item1.Id)) {<a asp-controller="Product" asp-action="Unlike/@comment.Item1.Id">Unlike</a>}
    @if (TempData.Peek("role") != null && TempData.Peek("role").ToString() == "admin") { <a asp-controller="Product" asp-action="RemoveComment/@comment.Item1.Id">Удалить</a>}</pre></pre>
}
<form asp-controller="Product" asp-action="Comment" method="post">
    <input name="id" type="number" value="@Model.Id" hidden />
    <pre>Комментировать: <input name="text" type="text" style="width: 300px; height: 70px;" maxlength="1000" required /> </pre>
    <button asp-controller="Product" asp-action="Comment" type="submit">Отправить</button>
</form>
<pre><a asp-controller="Order" asp-action="Buy/@Model.Id">Купить</a></pre>

