@model CatalogModel

<style>
    .block {
        float: left;
        width: 320px;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        text-align: center;
    }
</style>
@foreach (var category in Model.ProductsByCategory)
{
    <pre style="font-size:30px; text-align:center">@category.Key</pre>
    @foreach (var element in category.Value)
    {
        <div class="block">
            <pre style="font-size:25px; align-self:center">@element.Name</pre>
            @{
                var base64 = Convert.ToBase64String(element.Image);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
            <img src="@imgSrc" width="250" height="330" />
            <pre style="margin-top:10px">Цена: @element.Price</pre>
            <pre>Год издания: @element.YearOfEdition</pre>
            <pre>Производитель: @element.Producer</pre>
            <pre><a asp-controller="Product" asp-action="Get/@element.Id">Посмотреть подробную информацию</a></pre>
            <pre><a asp-controller="Order" asp-action="Buy/@element.Id">Купить</a></pre>
        </div>
    }
}



