@model GetModel

@{
    var base64 = Convert.ToBase64String(Model.Image);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    TempData["GetId"] = Model.Id;
}

<script>
    $(function () {
        $("#myTab2 li:eq(0) a").tab('show');
    });
</script>

<ul id="myTab2" class="nav nav-tabs">
    <li><a data-toggle="tab" href="#panely1">Описание</a></li>
    <li><a data-toggle="tab" href="#panely2">Характеристики</a></li>
    <li><a data-toggle="tab" href="#panely3">Отзывы</a></li>
</ul>

<div class="tab-content">
    <div id="panely1" class="tab-pane fade in active">
        <img style="width:300px" class="etalage_thumb_image" src="@imgSrc" class="img-responsive" />
        @foreach (var e in Model.StandartValues.Concat(Model.Values))
        {
            foreach (var value in e.Value)
            {
                if (value.Key == "Price")
                {@*<h1 style="position:absolute; top:50%; right:55%; color:darkred">@value.Key : @value.Value</h1>*@
                <div style="position:absolute; top:85%; left:35%" class="item_add"><span style="font-size:35px" class="item_price"><a asp-controller="Order" asp-action="Buy/@Model.Id" style="background-color:grey;">Add to cart (@value.Value$)</a></span></div>
            }
        }
    }
        <p style="font-size:large" class="prod-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option</p>
    </div>
    <div id="panely2" class="tab-pane fade">
        <table class="table">
            @foreach (var e in Model.StandartValues.Concat(Model.Values))
            {
                foreach (var value in e.Value)
                {
                    if (value.Key == "Price") { continue; }
                    <tr style="font-size:medium">
                        <td scope="row"><strong>@value.Key</strong></td>
                        <td scope="row">@value.Value</td>
                    </tr>
                }

            }
        </table>
    </div>
    <div id="panely3" class="tab-pane fade">
        <form action="" method="post" style="position:absolute; top:20%">
            <textarea class="" placeholder="Сообщение" name="message" rows="10" cols="100"></textarea><!--Поле для ввода сообщения-->
            <input type="submit" value="Отправить" /><!--Кнопка отправить-->
        </form>
    </div>
    <div id="panely4" class="tab-pane fade">
        <h3>Панель 4</h3>
        <p>Содержимое 4 панели...</p>
    </div>
</div>



