@model EditerTModel
    <form asp-controller="Home" asp-action="EditT" method="post">
        <pre>Time = @Model.TimeInTicks (ticks)</pre>
        @for (int i = 0; i < Model.Types.Length; i++)
        {
            @switch (Model.Types[i].Item2.PropertyType.Name)
            {
                default:
                    {
                        <p>@Model.Types[i].Item1: </p>
                        <input type="text" value="@Model.StandartValues[i]" asp-for="Values[i]" required />
                        ;
                        break;
                    }

                case "Double":
                    {
                        <p>@Model.Types[i].Item1: </p>
                        <input type="number" step="0.1" value="@Model.StandartValues[i]" asp-for="Values[i]" required />
                        ;
                        break;
                    }

                case "Int32":
                    {
                        <p>@Model.Types[i].Item1: </p>
                        <input type="number" value="@Model.StandartValues[i]" asp-for="Values[i]" required />
                        ;
                        break;
                    }
            }
            @if (Model.Types[i].Item3)
            {
                <p>*</p>
            }
        }
        <button>Submit</button>
    </form>
