@model BasketModel
@*@foreach(var element in Model.Products)
{
<form>
    <pre style="font-size:15px">@element.Key.Name —- Цена: @element.Key.Price —- Количество: @element.Value —- <a asp-action="RemoveProduct/@element.Key.Id">Удалить из корзины</a> —- Количество: <input type="number" max="@element.Key.Count" min="1" name="count" /><input type="number" value="@element.Key.Id" name="Id" hidden /><input type="submit" asp-action="ChangeCount" formmethod="post" name="Изменить" /></pre>
    <pre><a asp-controller="Product" asp-action="Get/@element.Key.Id">Посмотреть подробную информацию</a></pre>
</form>
}*@
<!DOCTYPE HTML>
    <html>
    <head>

    </head>
    <body>
        <div class="top_bg">

        </div>
        <div class="header_bg">
            <div class="container">
                <div class="header">
                    <div class="head-t">

                        <div class="header_right">
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <ul class="megamenu skyblue">
                        <li class="active grid"><a class="color1" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="active grid"><a class="color1" asp-controller="Home" asp-action="Catalog">Catalog</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="check">
                <div class="col-md-3 cart-total">
                    <div class="price-details" style="width:200px">
                        <p style="font-size:large"><strong>Price Details</strong></p>
                        <span style="font-size:medium">Total</span>
                        <span class="total1" style="font-size:medium">@Model.Amount rubels</span>
                        <span style="font-size:medium">Delivery Charges</span>
                        <span class="total1" style="font-size:medium">150.00</span>
                        <div class="clearfix"></div>
                    </div>
                    <ul class="total_price">
                        <li class="last_price"> <h4>TOTAL</h4></li>
                        <li class="last_price"><span>@Model.Amount rubels</span></li>
                        <div class="clearfix"> </div>
                    </ul>


                    <div class="clearfix"></div>
                    <a class="order" asp-controller="Order" asp-action="Sending">Place Order</a>
                </div>
                <div class="col-md-9 cart-items">
                    <h1>My Shopping Bag (@Model.Products.Count)</h1>
                    @foreach (var element in Model.Products)
                    {
                        var base64 = Convert.ToBase64String(element.Key.Image);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <div class="cart-header">
                            <a asp-action="RemoveProduct/@element.Key.Id"><div class="close1"></div></a>
                            <div class="cart-sec simpleCart_shelfItem">
                                <div class="cart-item cyc">
                                    <a asp-controller="Product" asp-action="Get/@element.Key.Id"><img src="@imgSrc" class="img-responsive" alt="" /></a>
                                </div>
                                <div class="cart-item-info">
                                    <h3><a href="#">@element.Key.Name</a><span></span></h3>
                                    <h3>Amount: <input style="width:10%" type="number" max="@element.Key.Count" min="1" name="count" /><input type="number" value="@element.Key.Id" name="Id" hidden /></h3>
                                    <input type="submit" asp-action="ChangeCount" formmethod="post" name="Изменить" />
                                    <h1>Price : @element.Key.Price</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    }

                </div>


                <div class="clearfix"> </div>
            </div>
        </div>

    </body>
</html>

