@model GetModel

@{
    var base64 = Convert.ToBase64String(Model.Image);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    TempData["GetId"] = Model.Id;
}
<style>
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.like {
    color: #ea0000;
    outline: none;
    background: #fff;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    box-shadow: 0 0 22px 4px rgba(0,0,0,0.1);
    height: 40px;
    width: 100px;
    transition: box-shadow 0.3s;
}
</style>
<script>
    $(function () {
        $("#myTab2 li:eq(0) a").tab('show');
    });
@*</script>
<script>*@
    class LikeButton extends React.Component {
  constructor(props) {
    super(props);
    this.state = { liked: false };
    this.handleClick = this.handleClick.bind(this);
  }
  
  handleClick(event) {
    this.setState({ liked: !this.state.liked});
  }
  render() {
    let buttonText = this.state.liked? 'Unlike': 'Like';
    return (
      <button onClick={this.handleClick} className="like">
        <i className="fa fa-heart"></i>&nbsp;
        {buttonText}</button>
     );
  }
}
ReactDOM.render(<LikeButton />, document.getElementById('main'));
</script>

<div>
    <h3 style="position:relative">@Model.StandartValues["Main"]["Name"]</h3>
    <img style="width:17%" class="etalage_thumb_image" src="@imgSrc" class="img-responsive" />
    <h2 style="position:absolute; top:15%;left:30%"><strong>@Model.StandartValues["Main"]["Price"]$</strong></h2>
    <h4 style="position:absolute; top:23%;left:30%">Products left : @Model.StandartValues["Main"]["Products count"]</h4>
    @switch (int.Parse(Model.StandartValues["Main"]["Rating"]))
    {
        case 0:<h4 style="position:relative; font-size:200%">&#9734;&#9734;&#9734;&#9734;&#9734;</h4>
            break;
        case 1: <h4 style="position:relative; font-size:200%">&#9733;&#9734;&#9734;&#9734;&#9734;</h4>
            break;
        case 2: <h4 style="position:relative; font-size:200%">&#9733;&#9733;&#9734;&#9734;&#9734;</h4>
            break;
        case 3: <h4 style="position:relative; font-size:200%">&#9733;&#9733;&#9733;&#9734;&#9734;</h4>
            break;
        case 4: <h4 style="position:relative; font-size:200%">&#9733;&#9733;&#9733;&#9733;&#9734;</h4>
            break;
        case 5: <h4 style="position:relative; font-size:200%">&#9733;&#9733;&#9733;&#9733;&#9733;</h4>
            break;
        default: <h4 style="position:relative; font-size:200%">Rating : 10/10!</h4>
            break;
    }
    <div style="position:absolute;top:31%; left:21%; width:25%" class="item_add"><span style="font-size:130%" class="item_price"><a asp-controller="Order" asp-action="Buy/@Model.Id" style="background-color:teal">Add to cart</a></span></div>
</div>

<ul id="myTab2" class="nav nav-tabs">
    <li><a data-toggle="tab" href="#panely1">Description</a></li>
    <li><a data-toggle="tab" href="#panely2">Characteristics</a></li>
    <li><a data-toggle="tab" href="#panely3">Comments</a></li>
    <li><a data-toggle="tab" href="#panely4">Related products</a></li>
</ul>

<div class="tab-content" style="position:relative">
    <div id="panely1" class="tab-pane fade in active">
        <h2><strong>Description</strong></h2>
        <p style="max-width:60%; font-size:large;word-wrap: break-word" class="prod-desc">@Model.StandartValues["Main"]["Description"]</p>
        <h2><strong>Main characteristics</strong></h2>
        <table class="table" style="max-width:60%">
            @foreach (var e in Model.StandartValues.Where(r => r.Key == "Production parameters"))
            {
                @foreach (var y in e.Value)
                {
                    <tr style="font-size:medium">
                        <td scope="row">
                            @y.Key
                        </td>
                        <td scope="row" style="text-align:end">@y.Value</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div id="panely2" class="tab-pane fade">
        
            @foreach (var e in Model.Values)
            {                  
                <h4 style="text-align:center"><strong>@e.Key</strong></h4>
                <table class="table">
                    @foreach (var value in e.Value)
                    {
                    <tr style="font-size:medium">
                        <td scope="row">@value.Key</td>
                        <td scope="row" style="text-align:end">@value.Value</td>
                    </tr>
                    }
                </table>
            }
        
    </div>
    <div id="panely3" class="tab-pane fade">
        
        @foreach (var e in Model.Comments)
        {
        <div class="form-group">
            <h3>@e.Item2 :</h3>
            <div class="container">
                <blockquote style="word-wrap: break-word">@e.Item1.Text </blockquote><blockquote class="blockquote-reverse">


                    @if (e.Item3 && TempData.Peek("role") != null)
                    {
                        <button style="position:relative; background:white;border: 1px solid #7a7b7e;width: 4%;height: 4%;border-radius: 8px;"><a asp-controller="Product" asp-action="Like/@e.Item1.Id"><img style="width:60%; position:center" src="~/images/несердце.png" /></a></button>
                    }
                    @if (!e.Item3 && TempData.Peek("role") != null)
                    {
                        <button style="position:relative; background:white;border: 1px solid #7a7b7e;width: 4%;height: 4%;border-radius: 10px;"><a asp-controller="Product" asp-action="Unlike/@e.Item1.Id"><img style="width:60%" src="~/images/сердце.png" /></a></button>
                    }
                    @e.Item1.Rating
                </blockquote>
            </div>
            @if (TempData.Peek("role") != null && TempData.Peek("role").ToString() == "admin")
            {
                <a asp-controller="Product" asp-action="RemoveComment/@e.Item1.Id"><button>Remove comment</button></a>
            }
        </div>
        
        }
        @if(Model.Comments.Count == 0)
        {
            <div>
                <h3 style="color:silver"><strong>Be the first one to leave the comment!</strong></h3>
                <br />
                <br />
            </div>
        }
        @if (TempData.Peek("role") != null)
        {
    <form asp-controller="Product" asp-action="Comment" method="post" style="position:relative">
        Rate : 
        <select style="width:30px" name="vote">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input name="id" type="number" value="@Model.Id" hidden />
        <textarea width:50%" name="text" type="text" style="width: 300px; height: 70px;" maxlength="1000" required></textarea>
        <button asp-controller="Product" asp-action="Comment" type="submit">Send</button>
    </form>
        }
        </div>
    </div>

