

@{
    var base64 = Convert.ToBase64String(Model.Image);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    TempData["GetId"] = Model.Id;
}

@*  <img src="@imgSrc" width="300" height="400" />

    @foreach (var category in Model.StandartValues)
    {
        <h3>@category.Key</h3>
        foreach (var value in category.Value)
        {
            <pre style="font-size:15px">   @value.Key  :  @value.Value</pre>
        }
    }

    @foreach (var category in Model.Values)
    {
        <h3>@category.Key</h3>
        foreach (var value in category.Value)
        {
            <pre style="font-size:15px">   @value.Key  :  @value.Value</pre>
        }
    }

    <h3>Комментарии</h3>
    @foreach (var comment in Model.Comments)
    {
        <pre style="font-size:15px">@comment.Item2 (+@comment.Item1.Rating)<pre style="font-size:13px">>@comment.Item1.Text
        @if (TempData.Peek("role") != null && Model.Context.CanLike((int)TempData.Peek("id"), comment.Item1.Id)) {<a asp-controller="Product" asp-action="Like/@comment.Item1.Id">Like</a>}
        @if (TempData.Peek("role") != null && !Model.Context.CanLike((int)TempData.Peek("id"), comment.Item1.Id)) {<a asp-controller="Product" asp-action="Unlike/@comment.Item1.Id">Unlike</a>}
        @if (TempData.Peek("role") != null && TempData.Peek("role").ToString() == "admin") { <a asp-controller="Product" asp-action="RemoveComment/@comment.Item1.Id">Удалить</a>}</pre></pre>
    }
    @if (TempData.Peek("role") != null)
    {
        <form asp-controller="Product" asp-action="Comment" method="post">
            <input name="id" type="number" value="@Model.Id" hidden />
            <pre>Комментировать: <input name="text" type="text" style="width: 300px; height: 70px;" maxlength="1000" required /> </pre>
            <button asp-controller="Product" asp-action="Comment" type="submit">Отправить</button>
        </form>
    }

    <pre><a asp-controller="Order" asp-action="Buy/@Model.Id">Купить</a></pre>*@
@model GetModel
<!DOCTYPE HTML>
<html>
<head>
    <title>Ware page</title>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />

    <script type='text/javascript' src="js/jquery-1.11.1.min.js"></script>
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
    <link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/etalage.css">
    <script type="text/javascript" src="js/megamenu.js"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <script src="js/jquery.etalage.min.js"></script>
    <script src="js/menu_jquery.js"></script>
    <script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});
    </script>

</head>
<body>
    <div class="top_bg">
        <div class="container">
            <div class="header_top">
                <div class="top_right">
                    <ul>
                        <li><a href="#">help</a></li>|
                        <li><a href="contact.html">Contact</a></li>|
                        <li><a href="#">Delivery information</a></li>
                    </ul>
                </div>
                <div class="top_left">
                    <h2><span></span> Call us : 032 2352 782</h2>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="header_bg">
        <div class="container">
            <div class="header">
                <div class="head-t">
                    <div class="logo">
                        <a asp-action="Index"><img src="~/images/logo.png" class="img-responsive" alt="" /> </a>
                    </div>
                    <div class="header_right">
                        <div class="rgt-bottom">
                            <div class="log">
                                <div class="login">
                                    <div id="loginContainer">
                                        <a href="#" id="loginButton"><span>Login</span></a>
                                        <div id="loginBox">
                                            <form id="loginForm">
                                                <fieldset id="body">
                                                    <fieldset>
                                                        <label for="email">Email Address</label>
                                                        <input type="text" name="email" id="email">
                                                    </fieldset>
                                                    <fieldset>
                                                        <label for="password">Password</label>
                                                        <input type="password" name="password" id="password">
                                                    </fieldset>
                                                    <input type="submit" id="login" value="Sign in">
                                                    <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
                                                </fieldset>
                                                <span><a href="#">Forgot your password?</a></span>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reg">
                                <a href="register.html">REGISTER</a>
                            </div>
                            <div class="cart box_1">
                                <a href="checkout.html">
                                    <h3> <span class="simpleCart_total">$0.00</span> (<span id="simpleCart_quantity" class="simpleCart_quantity">0</span> items)<img src="images/bag.png" alt=""></h3>
                                </a>
                                <p><a href="javascript:;" class="simpleCart_empty">(empty card)</a></p>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="create_btn">
                                <a href="checkout.html">CHECKOUT</a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="search">
                            <form>
                                <input type="text" value="" placeholder="search...">
                                <input type="submit" value="">
                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <ul class="megamenu skyblue">
                    <li class="active grid"><a class="color1" href="index.html">Home</a></li>
            </div>
            <div class="container">
                <div class="women_main">
                    <!-- start content -->
                    <div class="row single">
                        <div class="col-md-9 det">
                            <div class="single_left">
                                <div class="grid images_3_of_2">
                                    <ul id="etalage">
                                        <li>
                                            <a href="optionallink.html">
                                                <img class="etalage_thumb_image" src="@imgSrc" class="img-responsive" />
                                                <img class="etalage_source_image" src="@imgSrc" class="img-responsive" title="Hover the image for better view" />
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="desc1 span_3_of_2">
                                    <h3>@Model.StandartValues.First().Value.First().Value</h3>
                                    <span class="brand">Brand: @Model.StandartValues.First().Value.Skip(1).First().Value</span>
                                    <br>
                                    <span class="code">Product Code: Product 11</span>
                                    <p>Количество на складе : @Model.StandartValues.First().Value.Skip(1).First().Value</p>
                                    <div class="price">
                                        <span class="text">Price:</span>
                                        <span class="price-new">@Model.StandartValues.First().Value.Skip(2).First().Value</span><span class="price-old">@Model.StandartValues.First().Value.Skip(2).First().Value</span>
                                        <!--<span class="price-tax">Ex Tax: $90.00</span>--><br>
                                        <!--<span class="points"><small>Price in reward points: 400</small></span>--><br>
                                    </div>

                                    <div class="btn_form">
                                        <a href="checkout.html">buy</a>
                                    </div>
                                    <!--<a href="#"><span>login to save in wishlist </span></a>-->

                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="single-bottom1">
                                <h6>Description</h6>
                                <p class="prod-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option</p>
                            </div>
                            <div class="single-bottom1">
                                <h6>Characteristics</h6>
                                @*
                                    <input type="radio" checked><br>
                                    <input type="radio" checked><br>
                                    <input type="radio" checked><br>
                                *@
                                @foreach (var e in Model.StandartValues.Concat(Model.Values))
                                {
                                    foreach (var value in e.Value)
                                    {
                                        <p>@value.Key :</p>
                                        <pre>@value.Value</pre>
                                    }
                                }
                            </div>
                            <div class="single-bottom2">
                                <h6>Related Products</h6>
                                <div class="product">
                                    <div class="product-desc">
                                        <div class="product-img">
                                            <img src="Айфон.jpg" class="img-responsive " alt="" />
                                        </div>
                                        <div class="prod1-desc">
                                            <h5><a class="product_link" href="#">Excepteur sint</a></h5>
                                            <p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="product_price">
                                        <span class="price-access">$597.51</span>
                                        <button class="button1"><span>Add to cart</span></button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="product">
                                    <div class="product-desc">
                                        <div class="product-img">
                                            <img src="Айфон.jpg" class="img-responsive" alt="" />
                                        </div>
                                        <div class="prod1-desc">
                                            <h5><a class="product_link" href="details.html">Excepteur sint</a></h5>
                                            <p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="product_price">
                                        <span class="price-access">$597.51</span>
                                        <button class="button1"><span>Add to cart</span></button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="w_sidebar">

                                <section class="sky-form">
                                    <h4>categories</h4>
                                    <div class="row1 scroll-pane">
                                        <div class="col col-4">
                                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>kurtas</label>
                                        </div>
                                        <div class="col col-4">
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>kutis</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>churidar kurta</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>salwar</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>printed sari</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                        </div>
                                    </div>
                                </section>
                                <section class="sky-form">
                                    <h4>brand</h4>
                                    <div class="row1 scroll-pane">
                                        <div class="col col-4">
                                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>shree</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                        </div>
                                        <div class="col col-4">
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>vishud</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>amari</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                        </div>
                                    </div>
                                </section>
                                <section class="sky-form">
                                    <h4>discount</h4>
                                    <div class="row1 scroll-pane">
                                        <div class="col col-4">
                                            <label class="radio"><input type="radio" name="radio" checked=""><i></i>60 % and above</label>
                                            <label class="radio"><input type="radio" name="radio"><i></i>50 % and above</label>
                                            <label class="radio"><input type="radio" name="radio"><i></i>40 % and above</label>
                                        </div>
                                        <div class="col col-4">
                                            <label class="radio"><input type="radio" name="radio"><i></i>30 % and above</label>
                                            <label class="radio"><input type="radio" name="radio"><i></i>20 % and above</label>
                                            <label class="radio"><input type="radio" name="radio"><i></i>10 % and above</label>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- end content -->
                </div>
            </div>
            <div class="foot-top">
                <div class="container">
                    <div class="col-md-6 s-c">
                        <li>
                            <div class="fooll">
                                <h5>follow us on</h5>
                            </div>
                        </li>
                        <li>
                            <div class="social-ic">
                                <ul>
                                    <li><a href="#"><i class="facebok"> </i></a></li>
                                    <li><a href="#"><i class="twiter"> </i></a></li>
                                    <li><a href="#"><i class="goog"> </i></a></li>
                                    <li><a href="#"><i class="be"> </i></a></li>
                                    <li><a href="#"><i class="pp"> </i></a></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </li>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-6 s-c">
                        <div class="stay">
                            <div class="stay-left">
                                <form>
                                    <input type="text" placeholder="Enter your email to join our newsletter" required="">
                                </form>
                            </div>
                            <div class="btn-1">
                                <form>
                                    <input type="submit" value="join">
                                </form>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
</body>
</html>



