@model GetModel

@{
    var base64 = Convert.ToBase64String(Model.Image);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    TempData["GetId"] = Model.Id;
}

<script>
    $(function () {
        $("#myTab2 li:eq(0) a").tab('show');
    });
</script>

<ul id="myTab2" class="nav nav-tabs">
    <li><a data-toggle="tab" href="#panely1">Description</a></li>
    <li><a data-toggle="tab" href="#panely2">Characteristics</a></li>
    <li><a data-toggle="tab" href="#panely3">Comments</a></li>
</ul>

<div class="tab-content">
    <div id="panely1" class="tab-pane fade in active">
        <h1 style="position:relative">@Model.StandartValues.First().Value["Name"]</h1>
        <img style="width:300px" class="etalage_thumb_image" src="@imgSrc" class="img-responsive" />
        <p style="font-size:large;word-wrap: break-word" class="prod-desc">@Model.StandartValues.First().Value["Description"]</p>
        <div style="position:relative" class="item_add"><span style="font-size:35px" class="item_price"><a asp-controller="Order" asp-action="Buy/@Model.Id" style="background-color:grey;">Add to cart (@Model.StandartValues.First().Value["Price"]$)</a></span></div>
        <h4 style="position:relative">Products left : @Model.StandartValues.First().Value["Products count"]</h4>
    </div>
    <div id="panely2" class="tab-pane fade">
        <table class="table">
            @foreach (var e in Model.StandartValues.Concat(Model.Values))
            {
                foreach (var value in e.Value.Where(a => a.Key!="Description" && a.Key!="Price" && a.Key!="Name" && a.Key!="Products count" && a.Key!="Rating"))
                {
                    <tr style="font-size:medium">
                        
                        <td scope="row"><strong>@value.Key</strong></td>
                        <td scope="row">@value.Value</td>
                    </tr>
                }

            }
        </table>
    </div>
    <div id="panely3" class="tab-pane fade">

        @foreach (var e in Model.Comments)
        {
            <hr style="align-content:center; border:solid" />
        <div class="form-group">
            <h3>@e.Item2 :</h3>
            <div class="container">
                <blockquote style="word-wrap: break-word">@e.Item1.Text</blockquote><blockquote class="blockquote-reverse">Rating : @e.Item1.Rating</blockquote>
            </div>

            <button><a asp-controller="Product" asp-action="Like/@e.Item1.Id">Like</a></button>
            <button><a asp-controller="Product" asp-action="Unlike/@e.Item1.Id">Dislike</a></button>
            @if (TempData.Peek("role") != null && TempData.Peek("role").ToString() == "admin")
            { 
        <button><a asp-controller="Product" asp-action="RemoveComment/@e.Item1.Id">Remove</a></button>
            }
        </div>
        
        }

        <form asp-controller="Product" asp-action="Comment" method="post" style="position:relative">
            <input name="id" type="number" value="@Model.Id" hidden />
            <input style=" width:50%" name="text" type="text" style="width: 300px; height: 70px;" maxlength="1000" required />
            <button asp-controller="Product" asp-action="Comment" type="submit">Send</button>
        </form>
        @*@foreach(var comment in Model.Comments)
        {
        <pre style="font-size:15px">@comment.Item2 (+@comment.Item1.Rating)<pre style="font-size:13px"»@comment.Item1.Text>
        @if (TempData.Peek("role" != null && Model.Context.CanLike((int)TempData.Peek("id"), comment.Item1.Id))) {<a asp-controller="Product" asp-action="Like/@comment.Item1.Id">Like</a>}
        @if (TempData.Peek("role" != null && !Model.Context.CanLike((int)TempData.Peek("id"), comment.Item1.Id))) {<a asp-controller="Product" asp-action="Unlike/@comment.Item1.Id">Unlike</a>}
        @if (TempData.Peek("role" != null && TempData.Peek("role").ToString() == "admin")) { <a asp-controller="Product" asp-action="RemoveComment/@comment.Item1.Id">Удалить</a>;
        }</pre></pre>
        }
        @if (TempData.Peek("role" != null))
        {
        <form asp-controller="Product" asp-action="Comment" method="post">
        <input name="id" type="number" value="@Model.Id" hidden />
        <pre>Комментировать: <input name="text" type="text" style="width: 300px; height: 70px;" maxlength="1000" required /> </pre>
        <button asp-controller="Product" asp-action="Comment" type="submit">Отправить</button>
        </form>
        }*@
    </div>
    <div id="panely4" class="tab-pane fade">
        <h3>Панель 4</h3>
        <p>Содержимое 4 панели...</p>
    </div>
</div>



